
<a href="/" class="group">
    <div class="flex flex-col items-start text-left sm:items-end sm:text-right">
        <img src="/Butterfly3.png" class="size-20 sm:size-25" />
        <p class="mt-1 font-script font-bold font-color-magenta text-xl">
            Dalia Wadsworth
        </p>
    </div>
</a>
